.ggg {
  
  background-color: crimson;
  
  background: linear-gradient(
    			90deg, 
    
    			transparent, 
    			dodgerblue, 
    			transparent
  			);
  
  padding: 20px;
  text-align: center;
  
  font-weight: bold;
  color: white;
  font-size: 20px
}

body {
  background-color: #222
}