@font-face {
    font-family: "jet";
    src: url(/src/fonts/jet.TTF);
}

* {
    padding: 0%;
    margin: 0px;
    font-family: "jet";
    color: white;
}

.head {
    display: block;
    width: calc(100% - 26px);
    height: 50px;
    align-items: center;
    padding: 13px;


    background-color: rgb(70, 70, 70);
}

.body {
    
    width: 100%;
    height: calc(100% - 76px);

    background-color: rgb(40, 40, 40);

}





.r {float: right;} .l {float: left;}

.img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.img_bt {
    transition: 0.4s;
    cursor: pointer;
}
.img_bt:hover {
    background-color: rgb(97, 97, 97)
}


.bta {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-size: 60%;
    margin-left: 10px; margin-right: 10px;
    border-radius: 15px;
    
    background-color: rgb(100, 100, 100);
    transition: 0.4s;
    cursor: pointer;
}
.bta:hover {

    background-color: rgb(128, 128, 128);
}

.over {
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;

    background-color: #0003;

}

.over_windows {
    width: 500px;
    height: 400px;
}

.over_content {
    overflow: auto;
}

.medio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fill {
    width: 100%;
    height: 100%;
}

.boxjoin {
    width: 500px;
    height: 350px;
    border-radius: 20px;
    overflow: hidden;

}
.headbox {
    width: 100%;
    height: 50px;
}
.bthead_join {
    width: 50%;
    height: 100%;
    background-color: rgba(75, 75, 75);
    float: left;
    font-size: 18px;
    transition: 0.4s;
    cursor: pointer;
}

.bthead_join:hover {
    background-color: rgb(90, 90, 90);
}


.boxbody {
    padding: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 90px);
    background-color: rgb(90, 90, 90);
}

.form_input_join {
    width: calc(100%);
    font-size: 20px;
    margin-bottom: 10px;
    padding: 20px;
    color: black;
    background-color: white;
}

.form_input {
    width: calc(100%);
    font-size: 20px;
    margin-bottom: 10px;
    padding: 20px;
    color: black;
    background-color: white;
}

.join_come {
    width: 100%;
    max-width: 350px;
}
.sumit {
    padding: 20px;
    border-radius: 10px;
    background-color: dodgerblue;
    color: white;
    transition: 0.4s;
    cursor: pointer;
    font-size: 20px;
    width: 80%;
}
.sumit:hover {
    background-color: darkcyan;
}

.content_box_join_sep1 {
    height: 120px;
    padding: 10px;
    width: calc(100% - 20px);
}
.content_box_join_sep2 {
    width: 100%;
    height: calc(100% - 20px - 120px - 80px - 14px);
}
.content_box_join_sep3 {
    width: calc(100% - 14px);
    height: 80px;
    padding: 7px;
}

.bthead_mobile {
    width: 50%;
    height: 100%;
    font-size: 16px;
    float: left;
    transition: 0.4s;
}
.bthead_mobile:hover {
    background-color: rgba(65, 65, 65);
}

.header_control {
    width: 100%;
    height: 50px;
}
.body_control {
    width: 100%;
    height: calc(100% - 50px);
}


.editor {
    width: 450px;
    height: 100%;
    background-color: rgb(24, 24, 24);
}

.preview {
    width: calc(100% - 450px);
    height: 100%;
}

.img60{
    background-size: 60%;
}

.iframe_preview {
    border: none;
}



/* administrado de archivos */

.folder_box {
    width: 100%;
    height: max-content;
}




.folder_title {
    width: 100%;
    height: 40px;
    transition: 0.4s;
}
.folder_title:hover {
    background-color: rgb(63, 63, 63);
}

.folder_name {
    width: calc(100% - 160px);
    height: 40px;
    display: flex;
    align-items: center;
}

.folder_nodes {
    width: calc(100% - 20px);
    height: max-content;
    border-left: solid #707070 4px;
    padding-left: 16px;
}




.file_box {
    width: 100%;
    height: 40px;
    transition: 0.4s;
    
}

.file_box:hover {
    background-color: rgb(63, 63, 63);
}

.file_name {
    width: calc(100% - 120px);
    height: 40px;
    display: flex;
    align-items: center;
}


/* Portrait */


.chat-box {
    width: 100%;
    max-width: 400px;
    position: fixed;
    transition: 0.4s;
    height: max-content;

    left: calc(100% - 450px);
}


.head-chat {

    width: 100%;
    height: 50px;
    background-color: rgb(20, 20, 20);
    cursor: pointer;
    
}

.body-chat {

    width: 100%;
    height: 450px;

    background-color: rgb(40, 40, 40);
    color: white;


}

.chat-camp {
    width: 100%;
    height: 50px;

}
.chat {
    width: 100%;
    height: calc(100% - 50px);
    background-color: rgb(30, 30, 30);
    overflow: auto;

}
.content-msg {
    width: calc(100% - 20px);
    padding: 10px;
}

.not-wifi {
    position: fixed;
    transition: 0.4s;
    top: 100%;
    left: 10px;
    transform: translate(0px, 0px);
}

.wife {
    width: calc(100% - 40px);
    height: max-content;
    padding: 20px;
}

.offline {
    background-color: brown;
    color: white;
}

.online {
    background-color: green;
    color: white;
}


@media screen and (max-width: 500px) {

    .chat-box {
        left: 0px;
    }

    .editor{
        width: 100%;
    }
    .preview{
        width: 100%;
    }
    

    .land {display: none;}

    .bta {
    }

    .over_windows {
        width: 100%;
        height: 100%;
    }

    .boxjoin {
        width: 100%;
        height: 100%;
        border-radius: 0px;
        overflow:auto;

    }
    
    .head_mobile {
        width: 100%;
        height: 50px;
        display: block;
    }
    .body_mobile {
        width: 100%;
        height: calc(100% - 50px);
        display: block;
        
    }
    
}


/* Landscape */

@media screen and (min-width: 500px) {
    
    .port {display: none;}

    .bta {
        font-size: 15px;
        
        padding-left: 15px;
        padding-right: 15px;
    }
    .head_mobile {
        display: none;
    }
    
    .body_mobile {
        width: 100%;
        height: 100%;
        display: block;
        
    }
    
}